/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(7, 96, 126);
  color: white; /* Set font color to white */
  /* padding: 1rem; */
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
}

/* Add this rule for the <p> element inside .footer */
.footer p {
  color: rgb(252, 248, 248);
}

  