/* Landing.css */

.landing-container {
 background-color: #f2f2f2; 
  padding: 2rem;
  text-align: right;
  font-size: xx-large;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

.landing-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1rem;
}


.get-started-button {
  padding: 0.5rem 1rem;
  font-size: 24px; /* Updated to make it large */
  background-color: rgb(7, 96, 126);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.get-started-button:hover {
  background-color: #293b36;
}
