App.css */

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.App {
  background-image: url('https://img.freepik.com/free-vector/realistic-travel-background_23-2148045936.jpg?size=626&ext=jpg');
  background-size: cover; /* Scale the background image to cover the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
  display: flex;
  flex-direction: column;
}

/* Add additional styles if needed
